:root{
	--azul:#2a09e5;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
	background: var(--preta);
	margin: 2px;
	position: absolute;
	font-family: 'Vujahday Script', cursive;
	color:blue;
}

header .container{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header .logo{
    margin-left: 20px;
    color: var(--azul);
    font-family: 'Vujahday Script', cursive;
    font-size: 180px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 5px;
}

header nav a:hover{
    color:#fff;
}

.produto{
	text-align: center;
}

.paragrafo{
	font-size: 36px;
	color:#fff;
}

.descricao{
	font-size: 35px;
}

.mensagemSazonal{
	color:gold;
	font-size: 80px;
	text-shadow: 10px 20px 30px gold;
	margin: 0px;
	
}

.container{
	background: black;
	width:100%;
}

td img {
	width: 200px;
	height: 250px;
	border-radius: 10%;
	font-weight:bold;
	
}

table{
	border-spacing: 25px;
	font-size: 36px;
	color: blue;
	width: 250px;
	border-spacing: 25px;
	text-align: left;	
}

#entrega{
	position:fixed;
	bottom: 25px;
	right:10px;
	height:95px;
	width:300px;
	font-family: cursive;
}

#tel{
	position: absolute;
	left:80px;
	height:85px;
	background-color: black;
	color:blue;
	margin-top: 10px;
	border-radius: 15%;
	padding-bottom:0;
	padding:10px;
	border-radius:15px;		
}

#tel h4{
	margin:0;
	font-size: 18px;
}

#tel h5{ 
	margin: 0;
	margin-top: 10px;
}

#list{
	color:rgb(255, 0, 149);
	font-size: xx-large;
	position: absolute;
	bottom: 450px;
	right: 20px;
	height:100px;
	width:250px;
	font-family: cursive;
	
}

.rodape{
	background-color: rgb(10, 20, 107);
	color:rgb(113, 243, 113);
	text-align:left;
	font-size:15px;
	padding: 20px;
	font-family: cursive;
	margin: 0px;
	
}	

.bitcoin{
	font-size: 8px;
	color:orange;
	font: bold;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
}

.assinatura{
	color:white;
	text-align: right;
	padding-right: 300px;
	font-family: 'Times New Roman', Times, serif;
	
}

.bit{
	color:orange;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
}

.LinkedIn{
	text-align: right;
	color:white;
	padding-right: 300px;
	padding-bottom: 15px;
	font-family: 'Times New Roman', Times, serif;
}

/*filme-principal
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpg');

    height: 800px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Arial, sans-serif';
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color:white;
    
    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;
    transition: .3s ease all;

}

.botao:hover{
    background-color: white;
    color:black;

}
.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes{
    margin-top: 25px;
}
*/