:root{
	
	--azul: #0a2ce9;
    --preta: #141414;
	--vermelha:#e50914;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
	background: var(--preta);
	font-family: 'Vujahday Script', cursive;
	color:blue;
}

header .container{
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header .logo{
    margin-left: 15px;
    color: var(--vermelha);
    font-family: Arial;
    font-size: 80px;
	
	
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/*filme-principal*/
.filme-principal{
    font-size: 30px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/img/capa.jpg');

    height: 800px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 90px;
	font-size: 30px;
	color:#ffffff;
}

.titulo{
    margin-top: 15%;
    font-size: 180px;
    font-family: 'Vujahday Script', cursive;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color:white;
    
    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;
    transition: .3s ease all;

}

.botao:hover{
    background-color: white;
    color:black;

}
.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}
.filme-principal .paragrafo{
	font-size:60px;
	color:goldenrod;
}
.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.apelo{
	color:rgb(253, 244, 120);
	font-size: 56px;
}
.carrosel-filmes{
    margin-top: 25px;
}
.preco{
	color:sandybrown;
	font-size: 20px;
}

#entrega{
	color:white;
	font-size: 56px;
	text-align: right;
}

#list{
	color:pink;
	font-size:60px;
}
a{
	color:white;
	text-decoration:none;

}
/*css anterior ao css da netflix




table{
	border-spacing: 25px;
	font-size: 36px;
	color: blue;
	width: 250px;
	border-spacing: 25px;
	text-align: left;	
}

#entrega{
	position:fixed;
	bottom: 25px;
	right:10px;
	height:95px;
	width:300px;
	font-family: cursive;
}

#tel{
	position: absolute;
	left:80px;
	height:85px;
	background-color: black;
	color:blue;
	margin-top: 10px;
	border-radius: 15%;
	padding-bottom:0;
	padding:10px;
	border-radius:15px;		
}

#tel h4{
	margin:0;
	font-size: 18px;
}

#tel h5{ 
	margin: 0;
	margin-top: 10px;
}

#list{
	color:rgb(255, 0, 149);
	font-size: xx-large;
	position: absolute;
	bottom: 450px;
	right: 20px;
	height:100px;
	width:250px;
	font-family: cursive;
	
}*/

.bitcoin{
	font-size: 8px;
	color:orange;
	font: bold;
	font-size: larger;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
}

.assinatura{
	color:white;
	font-size: 29px;
	text-align: right;
	
}
.simboloBitcoin{
	margin-left: 15px;
}
.bit{
	color:orange;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 15px;
}

.foto{
	margin-left: 15px;
}
.natureza{
	color:chartreuse;
	font-size: 28px;
	margin-left: 15px;
}



#LinkedIn{
	color:white;
	font-size: 30px;
	margin-left: 15px;
	
}
